<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>param_test</title>
</head>
<body>
<h1>参数传递页面</h1>
<form action="/params" method="post">
    用户名： <input type="text" name="username"><br>
{{/*    用户名1： <input type="text" name="username"><br>*/}}
    年&nbsp&nbsp&nbsp龄： <input type="text" name="age"><br>
{{/*    价&nbsp&nbsp&nbsp格：<input type="text" name="price"><br>*/}}
{{/*    是： <input type="radio" name="is_true" value="true">*/}}
{{/*    否： <input type="radio" name="is_true" value="fasle"><br>*/}}
    <input type="submit" value="提交">
</form>
</body>
</html>